<div class="container mt-5">
    <div class="row">
      <div class="col-4 offset-lg-4">
        <form>
          <div class="form-group">
            <select [(ngModel)]="genres" name="genres"  class="form-control form-control-lg">
              <option *ngFor="let item of genresList" [value]="item.value">{{item.nombre}}</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <select [(ngModel)]="year" name="year" class="form-control form-control-lg">
              <option *ngFor="let item of yearList" [value]="item.value">{{item.nombre}}</option>
            </select>
          </div>
          <br>
          <button type="submit" (click)="cargarMovies()" class="btn btn-warning btn-block btn-lg btnTraducir">Buscar</button>
      </form>
      </div>
    </div>
    <div class="row mt-5">
      <div *ngFor="let item of peliculas" class="col-4">
        <div class="card">
          <img class="card-img-top" [src]="item.image" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.rating}}</p>
            <p class="card-text"><small>{{item.description}}</small></p>
            <p class="card-text"><small class="text-muted">{{item.year}}</small></p>
          </div>
        </div>                
      </div>
    </div>
</div>